
.Text {
  font-family: 'Roboto', sans-serif;
  float: right;
  width: 60%;
  border: 4px solid rgb(2, 47, 172); 
  border-radius: 13px;
  font-size:calc(1vw + 0.8vh);
  text-align: center;
  padding: calc(0.5vw + 0.8vh);
  background-color: rgba(14, 13, 13, 0.534);
}
.Pic{
  font-family: 'Roboto', sans-serif;
  font-size:3vw;
  float: left;
  margin-top: 5%;
  margin-left: 15px;
  width: 30%;
  height: 8vw;
  border: 4px solid rgb(2, 47, 172); 
  border-radius: 13px;
  background-color: rgba(3, 3, 3, 0.657);
  padding: 5px;
  color: #e7e7e7;
  text-align: center;
}

.WebDev{
  
  width: 65%;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-weight:bold ;
  font-style: italic;
  border: 4px solid rgb(0, 0, 0); 
  border-radius: 13px;
  font-size:calc(1vw + 0.8vh);
  /* -webkit-text-stroke: 2px rgb(0, 0, 0); width and color */
   font-family: sans; 
   color: rgb(0, 0, 0);
  background-color: #e7e7e7; 
  padding: calc(1.5vw + 1.8vh);
  text-align: center;
  
}
.Goal{
  font-family: 'Roboto', sans-serif;
  width: 65%;
  display: inline-block;
  background-color: rgba(14, 13, 13, 0.534);
  border: 4px solid rgb(2, 47, 172); 
  border-radius: 13px;
  font-size:calc(1vw + 0.8vh);
  text-align: center;
  padding: calc(0.5vw + 0.8vh);
}
.App-logo{
  height: 5vh;
}

.Link{
  text-decoration: none;
  color:rgb(199, 209, 233);
  font-weight: bolder;
}
.Link:visited{
  text-decoration: none;
}

@media (max-width: 500px){
  .Text{
      font-size: calc(1.0vw + 1.0vh);
      float:none;
      display: block;
      width:90%;
  }
  .WebDev{
      font-size: calc(1.2vw + 1.6vh)
  }
  .Goal{
      font-size: calc(1.2vw + 1.3vh)
  }
  .Pic{
    display: block;
    float:none;
    width: 50%;
    margin: auto;
  }
}
@media (min-width: 2000px){
  .Text{
      font-size: calc(1.0vw + 1.0vh);
  }
  .WebDev{
      font-size: calc(1.0vw + 1.0vh)
  }
  .Goal{
      font-size: calc(1.0vw + 1.0vh)
  }
}
@media (min-width: 500px){
.breakDiv{
 margin-top: 8vh;
}
}