.Button{
    width: auto;
    display: inline-block;
    background-color: #282c34; 
    color: #afbbbe;
    padding: calc(0.4vw + 0.7vh);
    margin: auto;
    border-radius: 5px;
    border: 2px solid black;
    font-size: calc(1.0vw + 1.2vh);
    border-bottom: 2px solid #282c34;
    cursor: pointer;
    
}
.Button:hover{
    background-color: #61DBFB;
    color:#000000;
}
 


